<div class="header-container">
  <div class="ui-g-2 ui-g-nopad logo-container">
    <a routerLink="/manager/customer"><img src="../../assets/images/logo2.png" alt="로고 이미지" /></a>
  </div>

  <div class="ui-g-8 ui-g-nopad">
    <nav class="gnb-container">
      <li><a routerLink="/manager/customer" class="on">MANAGER</a></li>
      <li><a>TRANSCODING</a></li>
    </nav>
  </div>

  <div class="ui-g-2 ui-g-nopad user-info-container">
    <span>GOM</span> 님 <button class="btn white-btn" (click)="logout()">LOGOUT</button>
  </div>
</div>

