<div class="ui-g-12 ui-g-nopad margin-bottom-50">
  <div class="ui-g-12 ui-g-nopad page-title-sec margin-bottom-40">
    CUSTOMER / <span class="path">{{ pathName }}</span>
  </div>

  <!--고객명(한글) 검색-->
  <div class="ui-g-12 ui-g-nopad search-sec margin-bottom-30">
    <label for="search-key" class="margin-right-10">고객명(한글)</label>
    <input type="text" pInputText id="search-key" class="margin-right-10" [(ngModel)]="searchKey" placeholder="고객명(한글) 입력" autocomplete="off">
    <button pButton type="button" label="검색" (click)="filterCustomerName()"></button>
  </div>
  <!--사용/미사용 필터-->
  <div class="ui-g-12 ui-g-nopad btn-sec margin-bottom-30">
    <button class="btn white-btn" (click)="filterListUseAll()">전체</button>
    <button class="btn white-btn" (click)="filterListUse('Y')">사용</button>
    <button class="btn white-btn" (click)="filterListUse('N')">미사용</button>
    <a routerLink="/manager/group/add"><button class="btn white-btn" *ngIf="params['listId'] === 'group'">그룹 추가</button></a>
    <a routerLink="/manager/account/add"><button class="btn white-btn" *ngIf="params['listId'] === 'account'">계정 추가</button></a>
  </div>

  <!--테이블-->
  <div class="ui-g-12 ui-g-nopad row-info-sec margin-bottom-20">
    ㆍTotal <span class="total-row">{{ totalCustomerList }}</span>건 <!--(<span class="now-page">{{ currentIndex }}</span>Page / <span class="total-page">{{ totalIndex }}</span>Page)-->
  </div>
  <div *ngIf="params['listId'] === 'customer'">
    <p-table id="customerTable" class="ui-g-12 ui-g-nopad" [value]="filterCustomerLists" [paginator]="true" [rows]="10" [resizableColumns]="true">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of customerCols" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of customerCols" pResizableColumn>
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customerList>
        <tr>
          <td>{{ customerList.index }}</td>
          <td><a routerLink="/manager/customer/modify/{{customerList.cus_seq}}">{{ customerList.cus_nm_ko }}</a></td>
          <td>{{ customerList.cus_nm_en }}</td>
          <td>{{ customerList.cus_inchg_nm }}</td>
          <td>{{ customerList.cus_inchg_tel }}</td>
          <td>{{ customerList.cus_use_yn }}</td>
          <td>{{ customerList.cus_test_yn }}</td>
          <td>{{ customerList.cus_reg_dtm }}</td>
          <td><a routerLink="/manager/customer/modify/{{customerList.cus_seq}}"><button class="btn white-btn" label="수정">수정</button></a></td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="params['listId'] === 'group'">
    <p-table class="ui-g-12 ui-g-nopad" [value]="filterCustomerLists" [paginator]="true" [rows]="10" [resizableColumns]="true">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of groupCols" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of groupCols" pResizableColumn>
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customerList>
        <tr>
          <td>{{ customerList.index }}</td>
          <td><a routerLink="/manager/group/modify/{{customerList.grp_seq}}">{{ customerList.grp_nm }}</a></td>
          <td>{{ customerList.cus_nm_ko }}</td>
          <td>{{ customerList.grp_basic_yn }}</td>
          <td>{{ customerList.grp_use_yn }}</td>
          <td>{{ customerList.grp_reg_dtm }}</td>
          <td>{{ customerList.grp_upd_dtm }}</td>
          <td>
            <a routerLink="/manager/group/modify/{{customerList.grp_seq}}"><button class="btn white-btn" label="수정">수정</button></a>
            <button class="btn grey-btn" label="INI파일 조회">INI파일 조회</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="params['listId'] === 'account'">
    <p-table class="ui-g-12 ui-g-nopad" [value]="filterCustomerLists" [paginator]="true" [rows]="10" [resizableColumns]="true">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of accountCols" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of accountCols" pResizableColumn>
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customerList>
        <tr>
          <td>{{ customerList.index }}</td>
          <td><a routerLink="/manager/account/modify/{{customerList.usr_seq}}">{{ customerList.usr_id }}</a></td>
          <td>{{ customerList.cus_nm_ko }}</td>
          <td>{{ customerList.usr_use_yn }}</td>
          <td>{{ customerList.usr_reg_dtm }}</td>
          <td>{{ customerList.usr_upd_dtm }}</td>
          <td>
            <a routerLink="/manager/account/modify/{{customerList.usr_seq}}"><button class="btn white-btn margin-right-5" label="수정">수정</button></a>
            <!--<button class="btn white-btn" label="사용정지" >사용정지</button>-->
            <!--<button class="btn white-btn" label="로그인">로그인</button>-->
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>