<script src="../../app.module.ts"></script>
<div class="ui-g-12 ui-g-nopad">
  <div class="ui-g-12 ui-g-nopad page-title-sec margin-bottom-40">
    매니저 > {{ pathName }} > <span class="path">{{ subPathName }}</span>
  </div>

  <div class="ui-g-12 ui-g-nopad margin-bottom-40 form-info-container" *ngIf="params['listId'] === 'service'">
    ㆍ <span class="color-red">*</span> 는 필수입력 항목입니다. ini파일 자동생성을 위해 정확하게 입력해주시기 바랍니다.<br />
    ㆍ <span class="color-red">* ini파일은 업로드서버(FTP)의 FTP 서버 구성이 먼저 완료되어야 정상 생성이 됩니다.</span><br />
    ㆍ 그룹명은 트랜스코딩서버 구조상 한번 등록되면 수정이 불가능하므로 신중하게 입력바랍니다.
  </div>
  <div class="ui-g-12 ui-g-nopad margin-bottom-40 form-info-container" *ngIf="params['listId'] === 'account'">
    ㆍ <span class="color-red">*</span> 는 필수입력 항목입니다. <span *ngIf="params['subId'] === 'add'">ini파일 자동생성을 위해 정확하게 입력해주시기 바랍니다.</span>
  </div>

  <customerForm *ngIf="params['listId'] === 'customer'" ></customerForm>
  <serviceForm *ngIf="params['listId'] === 'service'"></serviceForm>
  <accountForm *ngIf="params['listId'] === 'account'"></accountForm>

</div>