@mixin setSize($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin setMargin($TopBottom, $LeftRight: $TopBottom) {
  margin: $TopBottom $LeftRight;
}
@mixin setPadding($TopBottom, $LeftRight: $TopBottom) {
  padding: $TopBottom $LeftRight;
}

.form-info-container {
  font-size: 13px;
  line-height: 20px;
  color: #666;
}
.info-txt {font-size: 13px;}

form {
  fieldset {
    padding: 30px;
    border: 1px solid #ddd;

    legend {
      font-size: 14px;
    }

    .form-container {
      border-top: 1px solid #ddd;
      color: #666;

      .form-title {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        background: #f5f5f5;
        font-weight: bold;
      }
      .form-list {
        font-size: 14px;
        tr {
          border-bottom: 1px solid #ddd;

          th {
            @include setPadding(0, 20px);
            text-align: left;
            vertical-align: middle;
            font-weight: bold;
          }
          td {
            @include setPadding(10px);


            .server-group {
              position: relative;
              width: 600px;
              .delete-btn {
                position: absolute;
                top:10px; right: 10px;
              }

              &.add-server-group {
                @include setPadding(10px);
                border:1px solid #ddd;
              }

            }
            label.w-70px {
              display: inline-block;
              width: 70px;
            }
            input[type='text'],
            input[type='password'] {
              @include setSize(50%, auto);
            }
            input[type='radio'] + label {
              display: inline-block;
              width: 110px;
            }
            textarea {
              @include setSize(600px, 200px);
            }
          }
        }

        &.option-form-list {
          tr {
            td {
              input[type='text'],
              input[type='password'] {
                @include setSize(100%, auto);
                &.w-150 {
                  @include setSize(150px, auto);
                }
              }

              .server-group {
                input[type='text'],
                input[type='password'] {
                  @include setSize(50%, auto);
                }
              }
            }
          }
        }
      }
    }
  }
}

.btn-sec {
  text-align: center;
  .btn {
    padding: 5px 10px;
    margin-right: 5px;
  }
}

.button-area label {
  display: inline-block;
  width: 100%; height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: #ddd;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.button-area label:hover {
  background: #ccc;
}
.button-area label.on {
  background: #ff6400;
  color: #fff;
}

.player-view-area {
  position: relative;
  padding: 0 10px;
}
.player-view-area img#defaultImg {
  display: block;
  width: 100%;
}

.player-view-area .overlay-area img {
  display: none;
  position: absolute;
}
.player-view-area .overlay-area input[type='checkbox'] {
  display: none;
}
.player-view-area .overlay-area input[type='checkbox']:checked + img {
  display: block;
}
.player-view-area .overlay-area img#bookmarkImg {
  top: 2%; right: 7%;
  width: 4%;
}
.player-view-area .overlay-area img#settingImg {
  top: 2%; right: 3%;
  width: 4%;
}
.player-view-area .overlay-area img#nextVideoImg {
  bottom: 0; left: 7.8%;
  width: 4%;
}
.player-view-area .overlay-area img#playbackRateImg {
  top: 27%; left: 10%;
  width: 7%;
}
.player-view-area .overlay-area img#loopPortionImg {
  bottom: 0; right: 16%;
  width: 4%;
}
.player-view-area .overlay-area img#qualityImg {
  bottom: 0; right: 12%;
  width: 4%;
}
.player-view-area img#cinemaModeImg {
  bottom: 0; right: 8%;
  width: 4%;
}
.player-view-area img#fullscreenImg {
  bottom: 0; right: 4%;
  width: 4%;
}