.login-container {

  width: 450px;
  margin: 250px auto 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;

  .info-container {
    input {
      width: 90%;
      height: 40px;
    }
  }

  .btn {
    padding-top: 13px;
    border: none;
    &:hover, &:focus {
      background: #ea5c00;
    }
    &:active {
      background: #cf5100;
    }
  }
}