<form [formGroup]="customerform" (ngSubmit)="onSubmit(customerform.value)" class="ui-g-12 ui-g-nopad margin-bottom-50">
  <fieldset>
    <legend class="padding-left-10 padding-right-10"> CUSTOMER  </legend>
    <!--고객 기본 정보-->
    <div class="ui-g-12 ui-g-nopad margin-bottom-40 form-container" formGroupName="cus">
      <h3 class="form-title" *ngIf="isAddRow">고객기본정보</h3>
      <table class="form-list">
        <caption>고객 기본 정보 테이블</caption>
        <colgroup>
          <col style="width: 260px;" />
          <col style="width: auto;" />
        </colgroup>

        <tr *ngIf="isAddRow">
          <th><label for="cus_nm_en">고객명(영문) <span class="color-red">*</span></label></th>
          <td>
            <input pInputText type="text" class="margin-right-10" id="cus_nm_en" formControlName="cus_nm_en" title="고객명(영문) 입력" pKeyFilter="alpha" autocomplete="off" maxlength="31" />
            <button type="button" class="btn white-btn square-btn" (click)="confirmCustomerName()">중복 확인</button>
            <div *ngIf="!customerform.controls.cus.get('cus_nm_en').valid && customerform.controls.cus.get('cus_nm_en').dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="customerform.controls.cus.get('cus_nm_en').errors['required']">필수입력 사항 입니다</p>
              <p class="color-red info-txt margin-top-10" *ngIf="customerform.controls.cus.get('cus_nm_en').errors['maxlength']"> 30자 이내로 입력해주세요</p>
            </div>
            <div *ngIf="showNameDupMsg">
              <p class="color-blue info-txt margin-top-10" *ngIf="ableCustomerName">사용가능한 고객명입니다.</p>
              <p class="color-red info-txt margin-top-10" *ngIf="!ableCustomerName">사용중인 고객명입니다.</p>
            </div>
          </td>
        </tr>
        <tr *ngIf="!isAddRow">
          <th>고객명(영문) <span class="color-red">*</span></th>
          <td>{{ customerform.controls.cus.get('cus_nm_en').value }}</td>
        </tr>
        <tr>
          <th><label for="cus_nm_ko">고객명(한글) </label> <span class="color-red">*</span></th>
          <td>
            <input pInputText type="text" id="cus_nm_ko" formControlName="cus_nm_ko" title="고객명(한글) 입력" autocomplete="off" maxlength="31" />
            <div *ngIf="!customerform.controls.cus.get('cus_nm_ko').valid && customerform.controls.cus.get('cus_nm_ko').dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="customerform.controls.cus.get('cus_nm_ko').errors['required']">필수입력 사항 입니다</p>
              <p class="color-red info-txt margin-top-10" *ngIf="customerform.controls.cus.get('cus_nm_ko').errors['maxlength']"> 30자 이내로 입력해주세요</p>
            </div>
          </td>
        </tr>
        <tr>
          <th><label for="cus_inchg_nm">고객담당자</label></th>
          <td>
            <input pInputText type="text" id="cus_inchg_nm" formControlName="cus_inchg_nm" title="고객담당자 입력" autocomplete="off" maxlength="21" />
            <div *ngIf="!customerform.controls.cus.get('cus_inchg_nm').valid && customerform.controls.cus.get('cus_inchg_nm').dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="customerform.controls.cus.get('cus_inchg_nm').errors['maxlength']"> 20자 이내로 입력해주세요</p>
            </div>
          </td>
        </tr>
        <tr>
          <th><label for="cus_inchg_email">고객담당자 E-Mail</label></th>
          <td>
            <input pInputText type="text" id="cus_inchg_email" formControlName="cus_inchg_email" title="고객담당자 E-Mail 입력" autocomplete="off" maxlength="51" />
            <span class="color-grey info-txt margin-left-10">* 통계 및 정보 수신</span>
            <div *ngIf="!customerform.controls.cus.get('cus_inchg_email').valid && customerform.controls.cus.get('cus_inchg_email').dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="customerform.controls.cus.get('cus_inchg_email').errors['maxlength']"> 50자 이내로 입력해주세요</p>
            </div>
          </td>
        </tr>
        <tr>
          <th><label for="cus_inchg_tel">고객담당자 연락처</label></th>
          <td>
            <input pInputText type="text" id="cus_inchg_tel" formControlName="cus_inchg_tel" autocomplete="off" title="고객담당자 연락처" placeholder="- 포함" maxlength="15" />
            <span class="color-grey info-txt margin-left-10">* SNS 수신 가능</span>
            <div *ngIf="!customerform.controls.cus.get('cus_inchg_tel').valid && customerform.controls.cus.get('cus_inchg_tel').dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="customerform.controls.cus.get('cus_inchg_tel').errors['maxlength']"> 14자 이내로 입력해주세요</p>
            </div>
          </td>
        </tr>
        <tr>
          <th>전용 서버 사용 여부(싱글모드)</th>
          <td>
            <p-radioButton formControlName="cus_sngl_cvt_yn" name="cus_sngl_cvt_yn" value="Y" label="사용" class="margin-right-30"></p-radioButton>
            <p-radioButton formControlName="cus_sngl_cvt_yn" name="cus_sngl_cvt_yn" value="N" label="사용 안 함"></p-radioButton>
            <span class="color-grey info-txt margin-left-10">* 트랜스코딩서버 IP 입력</span>
          </td>
        </tr>
        <tr>
          <th>사용여부</th>
          <td>
            <p-radioButton formControlName="cus_use_yn" name="cus_use_yn" value="Y" label="사용" class="margin-right-30"></p-radioButton>
            <p-radioButton formControlName="cus_use_yn" name="cus_use_yn" value="N" label="사용 안 함"></p-radioButton>
          </td>
        </tr>
        <tr>
          <th>테스트여부</th>
          <td>
            <p-radioButton formControlName="cus_test_yn" name="cus_test_yn" value="Y" label="사용" class="margin-right-30"></p-radioButton>
            <p-radioButton formControlName="cus_test_yn" name="cus_test_yn" value="N" label="사용 안 함"></p-radioButton>
          </td>
        </tr>
      </table>
    </div>

    <div class="ui-g-12 ui-g-nopad txt-center">
      <button pButton type="submit" label="등록" *ngIf="isAddRow" [disabled]="!customerform.valid || !ableCustomerName" class="margin-right-10"></button>
      <button pButton type="submit" label="수정" *ngIf="!isAddRow" [disabled]="!customerform.valid" class="margin-right-10"></button>
      <button pButton type="reset" (click)="goList()" *ngIf="isAddRow" label="취소"></button>
      <button pButton type="reset" (click)="goList()" *ngIf="!isAddRow" label="목록"></button>
    </div>
  </fieldset>
</form>

<p-dialog [(visible)]="isShowMessage" [width]="400" [modal]="true" [showHeader]="false">
  <p class="txt-center margin-top-20 margin-bottom-25" *ngIf="isAddRow">완료 되었습니다.</p>
  <p class="txt-center margin-top-20 margin-bottom-25" *ngIf="!isAddRow">수정 완료 되었습니다.</p>
  <div class="txt-center">
    <button type="button" class="btn white-btn" (click)="isShowMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
  </div>
</p-dialog>