<form [formGroup]="accountform" (ngSubmit)="onSubmit(accountform.value)" class="ui-g-12 ui-g-nopad margin-bottom-50">
  <fieldset>
    <legend class="padding-left-10 padding-right-10">CMS 계정</legend>
    <!--CMS계정 발급-->
    <div class="ui-g-12 ui-g-nopad margin-bottom-40 form-container">
      <table class="form-list">
        <caption>CMS 계정 발급 테이블</caption>
        <colgroup>
          <col style="width: 260px;" />
          <col style="width: auto;" />
        </colgroup>
        <tr *ngIf="!isAddRow">
          <th>고객명 <span class="color-red">*</span></th>
          <td>{{ accountform.value['cus_nm_ko'] }}</td>
        </tr>
        <tr *ngIf="!isAddRow">
          <th>서비스명 <span class="color-red">*</span></th>
          <td>{{ accountform.value['grp_nm'] }}</td>
        </tr>
        <tr *ngIf="!isAddRow">
          <th>아이디 <span class="color-red">*</span></th>
          <td>{{ accountform.value['usr_id'] }}</td>
        </tr>
        <tr *ngIf="isAddRow">
          <th><label for="cus_seq">고객선택</label> <span class="color-red">*</span></th>
          <td>
            <p-dropdown id="cus_seq" [options]="cus_seq_options" formControlName="usr_cus_seq" placeholder="선택하세요" (onChange)="loadGroupList()"></p-dropdown>
            <div *ngIf="!accountform.controls['usr_cus_seq'].valid && accountform.controls['usr_cus_seq'].dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_cus_seq'].errors['required']">필수 선택 사항입니다.</p>
            </div>
          </td>
        </tr>
        <tr *ngIf="isAddRow">
          <th><label for="grp_seq">서비스선택</label> <span class="color-red">*</span></th>
          <td>
            <p-dropdown id="grp_seq" [options]="grp_seq_options" formControlName="usr_grp_seq" placeholder="선택하세요"></p-dropdown>
            <div *ngIf="!accountform.controls['usr_grp_seq'].valid && accountform.controls['usr_grp_seq'].dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_grp_seq'].errors['required']">필수 선택 사항입니다.</p>
            </div>
          </td>
        </tr>
        <tr *ngIf="isAddRow">
          <th><label for="usr_id">아이디</label> <span class="color-red">*</span></th>
          <td>
            <input pInputText type="text" id="usr_id" class="margin-right-10" formControlName="usr_id" title="아이디 입력" autocomplete="off" pKeyFilter="alpha"  maxlength="51" (input)="showIdDupMsg=false; checkValue(accountform.controls['usr_id'], 'usr_id')" pattern="[a-zA-Z ]*" />
            <button type="button" id="dup_btn" class="btn white-btn square-btn" (click)="confirmID()">중복 확인</button>
            <div *ngIf="!accountform.controls['usr_id'].valid && accountform.controls['usr_id'].dirty">
              <!--<p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_id'].errors['required']">필수입력 사항 입니다</p>-->
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_id'].errors['maxlength']"> 50자 이내로 입력해주세요</p>
            </div>
            <div *ngIf="showIdDupMsg && !checkPatternEn">
              <p class="color-blue info-txt margin-top-10" *ngIf="ableID">사용가능한 아이디입니다.</p>
              <p class="color-red info-txt margin-top-10" *ngIf="!ableID">사용중인 아이디입니다.</p>
            </div>
            <div *ngIf="checkInput">
              <p class="color-red info-txt margin-top-10">아이디를 입력해주세요.</p>
            </div>
            <div *ngIf="checkPatternEn">
              <p class="color-red info-txt margin-top-10">영문만 입력해주세요.</p>
            </div>
          </td>
        </tr>
        <tr *ngIf="isAddRow">
          <th><label for="usr_pw">패스워드</label> <span class="color-red">*</span></th>
          <td>
            <input pPassword [feedback]="false" type="password" id="usr_pw" title="패스워드 입력" formControlName="usr_pw" maxlength="33" value="" />
            <div *ngIf="!accountform.controls['usr_pw'].valid && accountform.controls['usr_pw'].dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_pw'].errors['required']">필수입력 사항 입니다</p>
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_pw'].errors['maxlength']"> 32자 이내로 입력해주세요</p>
            </div>
          </td>
        </tr>
        <tr *ngIf="isAddRow">
          <th><label for="usr_pw_cf">패스워드 확인</label> <span class="color-red">*</span></th>
          <td>
            <input pPassword [feedback]="false" type="password" id="usr_pw_cf" title="패스워드 확인 입력" formControlName="usr_pw_cf" maxlength="33" value="" />

            <div *ngIf="!accountform.controls['usr_pw_cf'].valid && accountform.controls['usr_pw_cf'].dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_pw_cf'].errors['required']">필수입력 사항 입니다</p>
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_pw_cf'].errors['maxlength']"> 32자 이내로 입력해주세요</p>
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_pw_cf'].errors['checkPassword']">패스워드가 일치하지 않습니다</p>
            </div>
          </td>
        </tr>
        <tr>
          <th><label for="usr_nm">사용자명</label></th>
          <td>
            <input pInputText type="text" id="usr_nm" title="사용자명 입력" formControlName="usr_nm" autocomplete="off" maxlength="31" />
            <div *ngIf="!accountform.controls['usr_nm'].valid && accountform.controls['usr_nm'].dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_nm'].errors['maxlength']"> 30자 이내로 입력해주세요</p>
            </div>
          </td>
        </tr>
        <tr>
          <th><label for="usr_mobile">휴대폰</label></th>
          <td>
            <input pInputText type="text" id="usr_mobile" title="휴대폰 입력" formControlName="usr_mobile" autocomplete="off" maxlength="15" placeholder="ex)010-0000-0000"/>
            <div *ngIf="!accountform.controls['usr_mobile'].valid && accountform.controls['usr_mobile'].dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_mobile'].errors['maxlength']"> - 포함 13자 이내로 입력해주세요</p>
            </div>
          </td>
        </tr>
        <tr>
          <th><label for="usr_tel">유선전화</label></th>
          <td>
            <input pInputText type="text" id="usr_tel" title="유선전화 입력" formControlName="usr_tel" autocomplete="off" maxlength="15" />
            <div *ngIf="!accountform.controls['usr_tel'].valid && accountform.controls['usr_tel'].dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_tel'].errors['maxlength']"> - 포함 13자 이내로 입력해주세요</p>
            </div>
          </td>
        </tr>
        <tr>
          <th>사용여부 <span class="color-red">*</span></th>
          <td>
            <p-radioButton formControlName="usr_use_yn" name="usr_use_yn" value="Y" label="사용" class="margin-right-30"></p-radioButton>
            <p-radioButton formControlName="usr_use_yn" name="usr_use_yn" value="N" label="사용 중지"></p-radioButton>
          </td>
        </tr>
        <tr>
          <th><label for="usr_remark">비고</label></th>
          <td>
            <textarea pInputTextarea title="비고" id="usr_remark" class="form_txta" formControlName="usr_remark" autocomplete="off" maxlength="101"></textarea>
            <div *ngIf="!accountform.controls['usr_remark'].valid && accountform.controls['usr_remark'].dirty">
              <p class="color-red info-txt margin-top-10" *ngIf="accountform.controls['usr_remark'].errors['maxlength']"> 100자 이내로 입력해주세요</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="ui-g-12 ui-g-nopad txt-center">
      <button pButton type="submit" label="등록" *ngIf="isAddRow" [disabled]="!accountform.valid || !ableID" class="margin-right-10"></button>
      <button pButton type="submit" label="수정" *ngIf="!isAddRow" [disabled]="!accountform.valid" class="margin-right-10"></button>
      <button pButton type="reset" (click)="goList()" *ngIf="isAddRow" label="취소"></button>
      <button pButton type="reset" (click)="goList()" *ngIf="!isAddRow" label="목록"></button>
    </div>
  </fieldset>
</form>

<p-dialog [(visible)]="isShowMessage" [width]="400" [modal]="true" [showHeader]="false">
  <!--<p class="txt-center margin-top-20 margin-bottom-25" *ngIf="isAddRow">완료 되었습니다.</p>-->
  <p class="txt-center margin-top-20 margin-bottom-25" *ngIf="!isAddRow">수정 완료 되었습니다.</p>
  <div class="txt-center">
    <button type="button" class="btn white-btn" (click)="isShowMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
  </div>
</p-dialog>
<p-confirmDialog width="500" #confirm>
  <p-footer>
    <div class="txt-center">
      <button type="button" class="btn white-btn margin-right-10" (click)="confirm.accept()"><i class="fas fa-check"></i> 확인</button>
    </div>
  </p-footer>
</p-confirmDialog>